html {
    scroll-behavior: smooth;
}

body {
    margin:0;
    font-family: 'Roboto Mono', monospace;
    box-sizing:border-box;
    background-color:rgb(255, 255, 255);
}

.nav-links {
    position:fixed;
    display:inline-flex;
    justify-content:space-around;
    background-color:#e6e6e6;
    width:70%;
    padding-left:30%;
    z-index: 20;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #3a6e9e;
    transition: all 0.3s ease;
}



#navbar p a {
    text-decoration:none;
    color:black;
    font-size:1.2em;
}

#navbar p a:hover {
    color: #3a6e9e;
    transition:0.5s;
}

#welcome-section {
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
    

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)), url("images/header.JPG");
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;
}

.welcome-text {
    width: 50vw;
    margin-left: 50px;
    margin-top: 150px;
    opacity: 0;
    transform: translateY(-25px);
    font-size: 1.1rem;
}

#header-text {
    text-transform:uppercase;
    font-size: 5rem;
}

/* fades in .welcome-text in on window load */
.fade {
    opacity: 1;
    transform: translateY(0px);
    transition: .8s ease-in;
}

section {
    padding-top: 75px;
}

section h2, footer h2 {
    font-size: 2rem;
}

section p {
    font-size: 1.3rem;
}

#about, #services {
    margin: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about h2, #services h2, #projects h2 {
    color: #3a6e9e;
}

#services i {
    color: #3a6e9e;
}

#services a {
    color: #3a6e9e;
    transition: .5s;
}

#services a:hover {
    font-size: 1.5rem;
}

#services h3 {
    font-size: 1.5rem;
}

#projects {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tile-container {
    margin: 50px 0px 50px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 12px;
    column-gap: 15px;
}

.tile {
    padding: 10px;
    box-shadow: 0px 3px 3px 3px gray;
    margin-bottom: 10px;
    transition: .5s ease-in-out;
    position: relative;
}

.tile-img {
    width:300px;
    height: 300px;
}

.tile-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.829);
    opacity: 0;
    transition: .5s;
}

.tile-overlay p {
    font-size: 1.2rem;
    padding: 20px;
}

.tile-overlay:hover {
    opacity: 1;
}

#projects a {
    color: black;
    text-decoration: none;
    transition: all .5s ease-in-out;
}


#contact {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    font-size:25px;
    background-color:#e6e6e6;
    padding-bottom: 20px;
}

#contact h2 {
    text-align: center;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.social-media-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#contact i {
    margin-left:50px;
    margin-right:50px;
}

#contact a {
    color:black;
    transition:0.5s ease-in-out;
}

#contact a:hover {
    font-size:30px;
    color: #3a6e9e;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form input, #contact-form textarea {
    font-size: 1.2rem;
    font-family: 'Roboto Mono', monospace;
    margin: 5px;
    width: 450px;
    border: 0px;
    border-radius: 10px;
    padding: 5px;
}

#submit-btn {
    background-color: #3a6e9e;
    color: white;
    transition: .5s;
}

#submit-btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px #234361;
}

@media only screen and (max-width:769px) {

    #header-text {
        font-size: 40px;
    }

    section h2 {
        font-size: 1.5rem;
    }
    
    section p {
        font-size: 1rem;
    }

    #about, #services, #projects {
        margin: 0px 25px 0px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 100px;
    }


    #services h3 {
        font-size: 1.2rem;
    }

    .tile-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .tile-img {
        width:280px;
        height:280;
        margin: 10px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
    }
    
    .two-columns {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .social-media-div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .social-media-div a {
        padding: 40px 0px 20px 0px;
    }

    body {
        overflow-x: hidden; /* prevents from scrolling to the overflow */
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 100vh;
        background-color: lightgray;
        display: flex;
        flex-direction:column;
        align-items:center;
        width: 100%;
        transform: translateX(100%); /* moves whole container off the screen to the right */
        transition: transform 0.5s ease-in; /* controls the transition from translateX(100%) to translateX(0) */
    }

    #navbar {
        position: fixed;
        background-color: lightgray;
        width: 100%;
        z-index: 20;
    }

    .burger {
        display: block;
        cursor: pointer;
        margin: 7px;
    }
}

@media only screen and (max-width:600px) {
    .tile {
        margin-bottom: 20px;
    }
    
    .tile-img {
        width: 260px;
        height: 260px;
    }

    #contact-form input, #contact-form textarea {
        width: 275px;
    }

    .social-media-div {
        display: flex;
        flex-direction: column;
    }
}

/* classes activated in JS */
.nav-links-active {
    transform: translateX(0);
    z-index: 20;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


